extend ../layout/admin
block head 
  block head 
    title Thêm thương hiệu sản phẩm
block contend 
    h1 THÊM THƯƠNG HIỆU
    form.mt-4#form(method='POST' action='/admin/band/add' enctype="multipart/form-data")
        if message
            .alert.alert-success= message
        .mb-3
            label(for='name') Tên thương hiệu
            input#name.form-control(type='text' name='name')
        .mb-3
            label(for='desc') Mô tả thương hiệu
            input#desc.form-control(type='text' name='desc')
        .mb-3
            label(for='img') Hình ảnh thương hiệu
            input#img.ml-2(type='file' name='img')
        .mb-3
            button.btn.btn-primary(type='submit') Thêm thương hiệu